In [1]:
import pandas as pd
import datetime

In [2]:
interaction_df = pd.read_csv('./menu2020.csv')
interaction_df

                              料理名            TIMESTAMP
0          大ニンニクヤサイマシアブラマシカラメラーメン  2020/01/01 05:34:35
1               大ニンニクヤサイマシカラメラーメン  2020/01/01 12:19:43
2                大ニンニクマシマシヤサイラーメン  2020/01/01 18:06:02
3               大ニンニクマシヤサイアブララーメン  2020/01/02 05:20:47
4      小ニンニクマシヤサイマシアブラマシマシカラメラーメン  2020/01/02 13:06:55
...                           ...                  ...
1091  大豚ニンニクマシヤサイマシアブラマシマシカラメラーメン  2020/12/29 18:07:55
1092      大ニンニクマシマシヤサイマシマシアブララーメン  2020/12/30 06:06:34
1093              大ニンニクアブラカラメラーメン  2020/12/30 12:41:20
1094                 大ニンニクアブララーメン  2020/12/30 18:57:13
1095       小ニンニクヤサイアブラマシマシカラメラーメン  2020/12/31 05:27:30

[1096 rows x 2 columns]

In [3]:
# interaction_out_df = interaction_df.rename(columns={'料理名': 'ITEM_ID'})
interaction_df['USER_ID'] = interaction_df['料理名'].map(lambda x: str(1))
interaction_df['TIMESTAMP_UNIX'] = interaction_df['TIMESTAMP'].map(lambda x: int(datetime.datetime.strptime(x, '%Y/%m/%d %H:%M:%S').timestamp()))

In [4]:
interaction_df

                              料理名            TIMESTAMP USER_ID  TIMESTAMP_UNIX
0          大ニンニクヤサイマシアブラマシカラメラーメン  2020/01/01 05:34:35       1      1577856875
1               大ニンニクヤサイマシカラメラーメン  2020/01/01 12:19:43       1      1577881183
2                大ニンニクマシマシヤサイラーメン  2020/01/01 18:06:02       1      1577901962
3               大ニンニクマシヤサイアブララーメン  2020/01/02 05:20:47       1      1577942447
4      小ニンニクマシヤサイマシアブラマシマシカラメラーメン  2020/01/02 13:06:55       1      1577970415
...                           ...                  ...     ...             ...
1091  大豚ニンニクマシヤサイマシアブラマシマシカラメラーメン  2020/12/29 18:07:55       1      1609265275
1092      大ニンニクマシマシヤサイマシマシアブララーメン  2020/12/30 06:06:34       1      1609308394
1093              大ニンニクアブラカラメラーメン  2020/12/30 12:41:20       1      1609332080
1094                 大ニンニクアブララーメン  2020/12/30 18:57:13       1      1609354633
1095       小ニンニクヤサイアブラマシマシカラメラーメン  2020/12/31 05:27:30       1      1609392450

[1096 rows x 4 columns]

In [5]:
item_df = pd.read_csv('./menu_master.csv')
item_df

                                 料理名  満腹  肉  スタミナ  ヘルシー  コッテリ  血圧注意
0                              小ラーメン
1                           小カラメラーメン                           血圧注意
2                           小アブララーメン                     コッテリ
3                        小アブラカラメラーメン                     コッテリ  血圧注意
4                         小アブラマシラーメン                     コッテリ
..                               ...  .. ..   ...   ...   ...   ...
507      大豚ニンニクマシマシヤサイマシマシアブラカラメラーメン  満腹  肉  スタミナ  ヘルシー  コッテリ  血圧注意
508       大豚ニンニクマシマシヤサイマシマシアブラマシラーメン  満腹  肉  スタミナ  ヘルシー  コッテリ
509    大豚ニンニクマシマシヤサイマシマシアブラマシカラメラーメン  満腹  肉  スタミナ  ヘルシー  コッテリ  血圧注意
510     大豚ニンニクマシマシヤサイマシマシアブラマシマシラーメン  満腹  肉  スタミナ  ヘルシー  コッテリ
511  大豚ニンニクマシマシヤサイマシマシアブラマシマシカラメラーメン  満腹  肉  スタミナ  ヘルシー  コッテリ  血圧注意

[512 rows x 7 columns]

In [6]:
item_df['ITEM_ID'] = item_df.index.values+1

In [28]:
interaction_out_df = pd.merge(interaction_df,item_df,on='料理名')[['USER_ID','ITEM_ID','TIMESTAMP_UNIX']].rename(columns={'TIMESTAMP_UNIX': 'TIMESTAMP'})
interaction_out_df

     USER_ID  ITEM_ID   TIMESTAMP
0          1      310  1577856875
1          1      310  1587796929
2          1      306  1577881183
3          1      306  1601322761
4          1      361  1577901962
...      ...      ...         ...
1091       1      392  1608366068
1092       1      233  1608405085
1093       1      162  1609050995
1094       1      343  1609147600
1095       1       48  1609392450

[1096 rows x 3 columns]

In [29]:
def make_genre(X):
    y = []
    for x in X[1:7]:
        if x != " ":
            y.append(x)
    return "|".join(y)

In [30]:
item_df['GENRE'] = item_df.apply(make_genre,axis=1)
item_out_df = item_df.reindex(columns=['ITEM_ID', 'GENRE'])

In [31]:
item_out_df

     ITEM_ID                     GENRE
0          1
1          2                      血圧注意
2          3                      コッテリ
3          4                 コッテリ|血圧注意
4          5                      コッテリ
..       ...                       ...
507      508  満腹|肉|スタミナ|ヘルシー|コッテリ|血圧注意
508      509       満腹|肉|スタミナ|ヘルシー|コッテリ
509      510  満腹|肉|スタミナ|ヘルシー|コッテリ|血圧注意
510      511       満腹|肉|スタミナ|ヘルシー|コッテリ
511      512  満腹|肉|スタミナ|ヘルシー|コッテリ|血圧注意

[512 rows x 2 columns]

In [ ]:
ec2.des